{% extends 'base.html' %}
{% block title %}Лента записей{% endblock %}
{% block content %}
    <h1>Лента записей</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'blog:create_post' %}" class="btn btn-primary mb-3">Создать пост</a>
    {% endif %}
    <hr>
    {% for post in posts %}
        <article>
            <ul>
                <li>Место: {{ post.location|default:"Не указано" }}</li>
                <li>Дата: {{ post.pub_date }}</li>
                <li>Автор: <a href="{% url 'blog:user_profile' post.author.username %}">{{ post.author.username }}</a></li>
                <li>Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.name }}</a></li>
            </ul>
            <p>{{ post.content|truncatewords:10 }}</p>
            <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
        </article>
        <hr>
    {% empty %}
        <p>Пока нет записей.</p>
    {% endfor %}
{% endblock %}