{% extends 'base.html' %}
{% block title %}Поиск постов{% endblock %}
{% block content %}
    <h1>Результаты поиска{% if query %} для "{{ query }}"{% endif %}</h1>
    <hr>
    {% for post in posts %}
        <article>
            <ul>
                <li>Место: {{ post.location|default:"Не указано" }}</li>
                <li>Дата: {{ post.pub_date }}</li>
                <li>Автор: <a href="{% url 'blog:user_profile' post.author.username %}">{{ post.author.username }}</a></li>
                <li>Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.name }}</a></li>
            </ul>
            <p>{{ post.content|truncatewords:10 }}</p>
            <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
        </article>
        <hr>
    {% empty %}
        <p>Ничего не найдено.</p>
    {% endfor %}
{% endblock %}